*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    margin: 0;
    background: url("../assets/books.jpg") fixed;
    background-position: center;
    background-size: cover;
    position: sticky;
}

h1, h2, h3, h4, h5, h6{
    font-family: Apple Chancery, cursive;

}

h2{
    color: #FFD700;
    font-size: 2rem;
}

h4{
    color: #FFD700;
    font-size: 1.5rem;
}

p{
    color: aliceblue;
}

header{
    z-index: 10;
}

#maintitle{
    height: 30vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background-color: #FFD700;
    border-radius: 5%;
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    padding: 10px 10px;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFD700;
    font-size: 60px;
    font-family: Apple Chancery, cursive;
    width: 50vw;
}

#log {
    display: block;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    background-color: #FFD700;
    border-radius: 5%;
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    padding: 10px 10px;
}

#btn {
    background: transparent;
    color: #000000;
}

#burgerbutton{
    position: relative;
    top: 30vh;
    margin-left: 1%;
    width: 5vw;
    height: 60%;
    aspect-ratio: 1;
    background-color: #91919150;
    border-radius: 5%;
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    cursor: crosshair;
    z-index: 10;
}

/* css de la partie centrale */
/* menu*/
#main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

nav {
    position: fixed;
    z-index: 5;
    top: -90vh; /*30vh*/
    width: 20vw;
    height: 60vh;
    background-color: #91919150;
    border-radius: 0 0 15px 15px;
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: Apple Chancery, cursive;
    transition: top 1200ms;
}

.bouton{
    text-decoration: none;
    color: #FFD700;
    display: block;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 20px;
    width: 80%;
    text-align: center;
    font-weight: 400;
    font-size: 1.7rem;
    box-shadow: none;
    transition: box-shadow 300ms;
}

.bouton:hover{
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

/*main*/
main{
    position: relative;
    top: 31vh;
    left: 20vw;
    width: 80vw;
    padding: 20px 5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


/*text de présentation*/
article{
    padding: 20px;
    background-color: #00000050;
    box-shadow: 5px 5px 5px 0px #ffffff, inset 4px 4px 15px 0px #ffffff, 5px 5px 15px 5px rgba(0,0,0,0);
    border-radius: 20px;
}

/*iframe{
    width: 60%;
    aspect-ratio: 16/9;
    display: block;
    margin: auto;
}*/

/*choix du site*/

#school{
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
}

.schools{
    margin: 15px;
    width: 500px;
    max-width: 75vw;
    min-width: 20vw;
    aspect-ratio: 1/1;
    border-radius: 10%;
    box-shadow: 5px 5px 5px 0px #ffffff, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    cursor: pointer;
}

.nom-site{
    text-align: center;
    font-size: 3rem;
    margin-top: 70%;
}

#arm{
    background: url("../assets/e2cArmMono.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#lil{
    background: url("../assets/e2cLilleMono.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#rbx{
    background: url("../assets/e2cRoubaixMono.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#sto{
    background: url("../assets/e2cStoMono.png");
    background-repeat: no-repeat;
    background-size: contain;
}
/*choix de livre*/

/*footer*/

footer{
    position: relative;
    top: 31vh;
    width: 100vw;
    background-color: #00000080;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

footer>div {
    width: 25vw;
    padding: 10px;
}

/*chill page*/ 
.selectZone{
    width: 100%;
    padding: 20px;
    background-color: #00000050;
    box-shadow: 5px 5px 5px 0px #ffffff, inset 4px 4px 15px 0px #ffffff, 5px 5px 15px 5px rgba(0,0,0,0);
    border-radius: 20px;
    color: #ffffff;
}

#game-select{
    width: 80%;
    margin: 15px 0;
}


